# Virtual environment
venv/
.venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data directories (Prevent tracking massive generated datasets)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/